{
    "email": "<Add_Email_Id>",
    "password": "<Add_Password>",
    "from_email": "<Add_From_Email>",
    "mail_server": "<Add_Mail_Server>",
    "search_string" : <Add_String_To_Search_Email_Body>
}